@charset "ISO-8859-1";

body{
    background: #c6fbc7;
    }
    
#container{
    margin:0 auto;
    margin-top:10%;
    margin-left:10%;
}
/* Bordered form */
form {
    width:100%;
    padding: 30px;
    border: 1px solid grey;
    background: white;
}

#panelAccueil{
    width: 50%;
    margin: 0 auto;
    padding-bottom: 10px;
    font-family:carlito;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid purple;
    box-sizing: border-box;
}

#submit {
    background-color: #53af57;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}
